@import "tailwindcss";

@keyframes wave {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(-18px) translateY(10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

.animate-wave {
  animation: wave 7s ease-in-out infinite;
}